.about {
  align-items: center;
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 100vw;    

  .title {
    font-size: $title;
  }
}