.contact {
  display: flex;
  justify-content: center;    
  padding: $l-size 0 $xl-size 0;
  align-items: center;
  height: 100vh;
  
  form {
  
    .contact-title {
      font-size: $title;
      text-align: center;
    }

    .form-fields {
      margin: $l-size;
      display: flex;
      flex-direction: column;
      justify-content: center;      

      input, textarea {
        background-color: $dark-purple;
        border: 3px solid $dark-purple;
        border-radius: 3px;
        outline: none;
        padding: $xxs-size;
        width: 90vw;
        max-width: 600px;

        &:focus,
        &:focus-within,
        &:active        
        {
          border-bottom: 3px solid $primary-color;  
        }
      }

      textarea {        
        height: 200px;
      }
      
    }
  }
}

