.contact {
  display: flex;
  justify-content: center;    
  padding: $huge-size 0 $xl-size 0;
  align-items: center;  
  flex-direction: column;
  width: 100%;
  
  .title {
    font-size: $title;
    text-align: center;
  }
  
  form {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;

    .confirmation {
      color: rgb(0, 92, 0);
    }
    
    .form-fields {
      margin: $l-size 0;
      display: flex;
      flex-direction: column;
      justify-content: center;      

      .error-message {
        color: $primary-color;
      }

      

      input, textarea {
        background-color: $dark-gray;
        border: 3px solid $dark-gray;
        border-radius: 3px;
        outline: none;
        padding: $xxs-size;
        width: 90vw;
        max-width: 600px;
        resize: none;

        &:focus,
        &:focus-within,
        &:active        
        {
          border-bottom: 3px solid $primary-color;  
        }
      }

      textarea {        
        height: 200px;
      }
      
    }
  }
}

