.home {  
  align-items: center;      
  background-image: url('../../images/background.png');
  background-size: cover;  
  height: 100vh;
  display: flex;  
  justify-content: center;   

  .content {
    align-items: center;  
    color: $off-white;
    display: flex;
    flex-direction: column;  
    justify-content: center;    

    .content__item {
      margin: $l-size 0;
    }
  }
}