.overlay {
  background-color: rgba(0, 0, 0, 0.856);  
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;  
  width: 100vw;
  z-index: 10;
  cursor: pointer;

  .modal {
    
    padding: $xs-size;
    position: absolute; 
    text-align: center;
    top: 30%;        
    min-width: 150px;
  };
  
}