.nav {    
  background: radial-gradient(circle, black 0%, $transparent-black 100%);
  display: flex;
  justify-content: center;
  position: fixed;  
  width: 100vw;
  z-index: 9;

  ul {    
    display: flex;    
    justify-content: space-evenly;
    list-style-type: none;    
    padding: 0;    
    margin: $m-size 0;    
    max-width: 900px;
    overflow: hidden;
    position: relative;
    width: 100%;
    

    a {
      color: $off-white;
      cursor: pointer;
      font-size: $m-size;
      position: relative;
      transition: color 200ms ease-in-out;   
      
      &:hover,
      &:active {          
        color: lighten($primary-color, 10%);        
      }

      @media (min-width: $desktop-breakpoint) {
        font-size: $l-size;
      }
    }

    .active {
      color: $primary-color;
    }
  }
}

@keyframes skewEffect {
  0% { transform: skewX(0deg) }
  25% {transform: skewX(5deg)}
  30% {transform: skewX(40deg)}
  40% {transform: skewX(10deg)}
  50% {transform: skewX(50deg)}
  55% {transform: skewX(0deg)}
  60% {transform: skewX(40deg)}
  65% {transform: skewX(0deg)}
  70% {transform: skewX(20deg)}
  100% {transform: skewX(0deg)}
}