.picture-projects {  
  // overflow: hidden;
  
  padding: 5rem 2rem;  
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  iframe {
    position: static !important;
  }

  img {
    transition: transform 200ms ease;

    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  h1 {
    text-align: center;
    font-size: $title;
  }  
}