.vertical {
  cursor: default;  
  font-size: 2.5rem;
  position: absolute;
  user-select: none;    
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-60%);  
  left: 0;
  
  @media (min-width: $desktop-breakpoint){
    font-size: 3rem;    
  }
}

@keyframes moveIn {
  0% {transform: translateY(-1000%)}
  100% {    
    transform: translateY(-410px) skewX(5deg);
  }

}