.videos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;  
  height: 100vh;
  width: 100vw;  
  h1 {
    text-align: center;
    font-size: $title;    
  }

  .items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    .item {
      margin: $s-size;
      border: 2px solid transparent;
      cursor: pointer;

      &:hover,
      &:active {
        border: 2px solid $primary-color;
      }
    }
  }
  
}