@font-face {
  font-family: 'MrChalk';  
  src: local('MrChalk'),
       url('../../fonts/MrChalk.otf') format('opentype'); /* Chrome 26+, Opera 23+, Firefox 39+ */       
}

* {
  margin: 0;
  font-family: 'MrChalk';  
  font-size: $m-size;
  color: $off-white;
  box-sizing: border-box;
}

.contact-button {
  color: $off-white;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 100ms ease-in;
  font-size: $l-size;
  outline: none;

  &:hover,
  &:active {
    color: $primary-color;
  }

}

