@import url('https://fonts.googleapis.com/css?family=Fredericka the Great');

* {
  margin: 0;
  font-family: 'Frederika the Great', cursive;  
  font-size: $m-size;
  color: $off-white;
  box-sizing: border-box;
}


