// Color
$off-white: rgb(226, 226, 226);
$transparent-black: rgba(1, 1, 1, 0.596);
$primary-color: rgb(168, 2, 2);

// Size
$desktop-breakpoint: 45rem;
$xs-size: 0.5rem;
$s-size: 1rem;
$m-size: 1.2rem;
$l-size: 1.8rem;