// Color
$off-white: rgb(226, 226, 226);
$transparent-black: rgba(1, 1, 1, 0.596);
$primary-color: rgb(168, 2, 2);
$dark-gray: rgb(22, 22, 22);
$dark-blue: rgb(5, 5, 63);
$dark-purple: rgb(53, 11, 53);

// Size
$desktop-breakpoint: 45rem;
$xxs-size: 0.4rem;
$xs-size: 0.5rem;
$s-size: 1rem;
$m-size: 1.2rem;
$mm-size: 1.5rem;
$l-size: 1.8rem;
$xl-size: 2.5rem;
$title: 5rem;
$main-title: 6rem;
$main-title-desktop: 10rem;